*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.224);
}
.grid-item{
    height: 3rem;
    border: 1px solid white;
    width: 700px;
}
.grid-item-1{
    background-color: aqua;
}
.grid-item-2{
    background-color: rgba(7, 68, 68, 0.2);
}
.grid-item-3{
    background-color: aqua;
}
.grid-container {
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-rows: auto;
}