body{
    background-color:rgb(147, 215, 245);
    /* font-family:"Arial", sans-serif; */
    font-family: 'Cabin', sans-serif;
}
#title{
    color:rgb(000,000,fff);
}
.aclass{
    font-family: 'Oswald', sans-serif;
    color:blueviolet;
}
/* Advanced selector */

h2 + a {
    color:red;
}
/* General sibling selector, comes under advanced selector, in these both elment should comes under same parrent */

textarea ~ button{
    color:purple;
}

/* This is the basic child selector out of the advanced selector */
/* works on direct desendent only */
ul > li{
    color:fuchsia;
}

